/* Style Umum */
.root {
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
}

/* Tombol Aksi */
.button {
    -fx-cursor: hand;
    -fx-background-radius: 5;
}

.button:hover {
    -fx-opacity: 0.8;
}

/* Warna Khusus */
.btn-primary {
    -fx-background-color: #3498db;
    -fx-text-fill: white;
}

.btn-success {
    -fx-background-color: #2ecc71;
    -fx-text-fill: white;
}

.btn-danger {
    -fx-background-color: #e74c3c;
    -fx-text-fill: white;
}

/* Tabel */
.table-view {
    -fx-background-color: transparent;
}

.table-view .column-header {
    -fx-background-color: #ecf0f1;
}